html{
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #95e8f3;
  min-height: 100%;
  font-size:1.0em;
}

form{
  padding: 20px;
  margin-top: 60px;
}

form button, form h5{
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.row .second{
  float:right;
}

.card-lead{
  color:#494949;
}
.ps-block1{
  margin-bottom:10px;
}

.card-content{
  font-size:1.0em;
}

.buttons{
  text-align:center;
}

button.delete {
background-color:#ff60bc;
margin-left:1.0em;
}

button.delete:hover {
background-color:pink;
}

.titleText, .contentText{
  padding-left:1.0em;
}
button.btn {
  margin-left:1.0em;
}

/* #text-area{
  border-color:red;
  border-width:0px;
} */

.pjc{
  margin-top:1.0em;
  white-space: pre-wrap;
}
.eph5{
  margin-top:0.3em;
  margin-bottom:1.0em;
}